<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Game Rock Paper Scissors</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">result</a></li>
        <li><a href="/welcome">welcome</a> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
